@import "../../../../.cache/wal/colors-ags.scss";

// === variables ================================

// ~~~ ORIGINAL PRESET ~~~

// $color_bg: $background;
// $color_bg_2: $color0;
// $color_fg: $foreground;
// $color_fg_2: $color8;
// $color_accent: $color1;
// $color_accent_2: $color9;
// $color_alert: $color3;
// $color_good: $color2;
// $color_bad: $color1;
// $color_shadow: rgba(0, 0, 0, 0.4);

// $border_radius_panel: 20px;
// $border_radius_widget: 14px;
// $border_radius_small: 8px;
// $border_radius_volume_popup: 50px;
// $widget_border: none;
// $panel_border: none;

// $font-family: Papernotes, Symbols Nerd Font;
// $font-size: 27px;

// $panel-padding: 0.3em;
// $widget-padding: 0.3em;
// $workspace_icon_padding: 0.3em;
// $button_padding: 5px 10px;
// $small_item_padding: 0px 5px;

// ~~~ RETRO PRESET ~~~

// $color_bg: #c4c4c4;
// $color_bg_2: #c4c4c4;
// $color_fg: #000000;
// $color_fg_2: #2a2a2a;
// $color_accent: #00a8a8;
// $color_accent_2: #0000a8;
// $color_alert: #fcfc54;
// $color_good: #00a800;
// $color_bad: #a80000;
// $color_shadow: transparent;
$color_bg: $background;
$color_bg_2: $color0;
$color_fg: $foreground;
$color_fg_2: $color8;
$color_accent: $color6;
$color_accent_2: $color4;
$color_alert: $color3;
$color_good: $color2;
$color_bad: $color1;
$color_shadow: transparent;

$border_radius_panel: 0px;
$border_radius_widget: 0px;
$border_radius_small: 0px;
$border_radius_volume_popup: 0px;
$widget_border: 3px inset $color_fg_2;
$panel_border: 2px groove $color7;

// $font_family: "W95FA", Symbols Nerd Font;
$font_family: "Serif Bold", Symbols Nerd Font;
$font_size: 24px;

$panel_padding: 3px;
$widget_padding: 0px 5px;
$workspace_icon_padding: 0 0.3em;
$button_padding: 2px;
$small_item_padding: 0px;

// === style code ===============================

* {
    // apparently this is bad to do lol
    // all: unset;
    font-family: $font_family;
    font-size: $font_size;
    color: $color_fg;
    transition: unset;
}

// #region element styling

menubutton {
    padding: 0;

    &>button.toggle {
        padding: 0;

        &:hover {
            background-color: unset;
        }
    }

    // make it so outer box doesn't have weird padding, 
    //   rather the toggle button has full space
    &.widget {
        padding: 0;

        &>button.toggle {
            padding: $widget_padding;
            border-radius: $border_radius_widget;
        }
    }
}

button,
menubutton {
    border-radius: $border_radius_widget;
    background-color: unset;
    min-height: unset;
    min-width: unset;
    padding: $button_padding;

    &:hover {
        background-color: rgba($color_fg, 0.1);

        & .critical,
        & .accent {
            color: $color_bg;
        }
    }

    &.widget:hover {
        background-color: $color_accent;
    }

    &:active {
        background-color: $color_accent_2
    }
}

levelbar trough {
    background-color: $color_bg;
    border-radius: 100px;

    .filled {
        background-color: $color_accent;
        border-radius: 100px;
    }
}

popover>* {
    background-color: $color_bg;
    border-radius: $border_radius_panel;
    border: $panel_border;
}

calendar {
    border: none;
    color: $color_fg;

    & .today {
        border: 2px solid $color_accent;
        border-radius: $border_radius_widget;
    }

    & *:selected {
        background-color: $color_accent;
        border-radius: $border_radius_widget;
    }

    & *:indeterminate {
        color: rgba($color_fg, 0.1);
    }

    & *.highlight {
        color: $color_accent;
    }
}

tooltip {
    border-radius: $border_radius_small;
    background-color: $color_bg;

    label {
        color: $color_fg;
        margin: 3px;
    }
}

entry {
    padding: $widget_padding;
    border-radius: $border_radius_widget;

    & selection {
        background-color: $color_accent;
    }
}

// #endregion
// #region general/global class styling
.panel {
    background-color: $color_bg;
    border-radius: $border_radius_panel;
    padding: $panel_padding;
    box-shadow: 0px 0px 5px $color_shadow;
    border: $panel_border;
}

.widget {
    background-color: $color_bg_2;
    padding: $widget_padding;
    border-radius: $border_radius_widget;
    border: $widget_border;
}

.bigtext {
    font-size: 100px;
    font-weight: bold;
}

.title {
    font-size: 40px;
}

.subtitle {
    font-size: 25px;
    color: $color_fg_2;
}

.open {
    background-color: $color_accent;

    .accent,
    .critical {
        color: $color_bg;
    }
}

.accent {
    color: $color_accent;
}

.alert {
    color: $color_alert;

    &.open {
        color: $color_bg;
    }
}

.critical {
    color: $color_bad;

    &.open {
        color: $color_bg;
    }
}

.alert {
    color: $color_alert;
}

.good {
    color: $color_good;

    &.open {
        color: $color_bg;
    }
}

.thin-separator-horiz {
    border-radius: $border_radius_panel;
    border: 1.5px solid rgba($color_fg, 0.1);
    margin: 0px 20px;
}

.thin-separator-vert {
    border-radius: $border_radius_panel;
    border: 1.5px solid rgba($color_fg, 0.1);
    margin: 20px 0px;
}

.accent-border {
    border: 3px solid $color_accent;
}

// #endregion
// #region bar styling
.workspace {
    padding: $workspace_icon_padding;

    * {
        font-size: 0.55em;
    }

    &.focused * {
        color: $color_accent;
    }
}

.bar-icon {
    font-size: 0.8em;
    background-color: transparent;
    padding: $small_item_padding;
}

// systray popups
.popup {
    background-color: $color_bg;
    border-radius: $border_radius_small;

    // all elements within the popup menu:
    //   (i cant find exactly what this selects but
    //   it looks right and works right so ill take it)
    &>*>* {
        padding: $button_padding;

        &:hover {
            background-color: $color_accent;
        }
    }

    separator {
        background-color: rgba($color_fg, 0.1);
        padding: 1px 0px;
        margin: 0.2em 0.5em;
        border-radius: 100px;
    }
}

// #endregion
// #region notifications
.notification {
    background-color: $color_bg;
    padding: $widget_padding;
    border-radius: $border_radius_widget;
    box-shadow: 0px 0px 6px $color_shadow;
}

.notif-title {
    color: $color_fg;
    font-size: 0.8em;
}

.notif-body {
    color: rgba($color_fg, 0.6);
    font-size: 0.7em;
}

.notif-close-button * {
    font-size: 0.5em;
    color: rgba($color_fg, 0.3);
}

.notif-action-button * {
    font-size: 0.7em;
}

// #endregion
// #region app launcher
.search-bar {
    padding: $panel_padding;

    & .thin-separator-horiz {
        padding: $panel_padding;
    }
}

// #endregion
// #region quick menu
.big-button {
    background-color: rgba($color_fg, 0.04);
    border-radius: $border_radius_widget;

    & * {
        background-color: unset;
    }

    // make all sub-widgets apply padding (eventboxes cant do padding?)
    &>* {
        padding: 0.1em;
    }

    *.thin-separator-vert,
    *.thin-separator-horiz {
        border: 1.5px solid rgba($color_bg, 0.1);
        margin: 6px 0px;
    }

    & .main-button:hover {
        background-color: unset;
    }

    &:hover {
        background-color: $color_accent;
    }
}

.big-button-icon,
.big-button-icon * {
    color: $color_fg;
    font-size: 1.3rem;
}

.big-button-desc {
    font-size: 0.8em;
    color: rgba($color_fg, 0.3);
}

.enabled {
    background-color: $color_fg;

    &,
    & * {
        color: $color_bg;
    }

    &:hover {
        background-color: $color_accent;

        &,
        & * {
            color: $color_fg;
        }
    }
}

.bat-time {
    font-size: 0.7em;
    color: rgba($color_fg, 0.3);
}

.page-nav-text {
    font-size: 0.8em;
}

.wifi-passwd-entry {
    background-color: $color_accent;
}

.now-playing-title {
    font-size: 0.9em;
    font-weight: bold;
}

.now-playing-artist {
    font-size: 0.7em;
    color: rgba($color_fg, 0.5);
}

.now-playing-art {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $border_radius_small;
    background-position: center;
}

.now-playing-player-icon {
    font-size: 0.8em;
    padding: 4px;
    color: rgba($color_fg, 0.2);
}

.now-playing-time {
    font-size: 0.5em;
    color: rgba($color_fg, 0.3);
}

// #endregion
// #region progress popup
.volume-popup {
    background-color: $color_bg;
    padding: 0.4em 0.8em;
    border-radius: $border_radius_volume_popup;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);

    & levelbar trough {
        background-color: $color_bg_2;
    }
}

// #endregion